.cardContainer {

    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}

@media(max-width: 974px) {
    .cardContainer {
        flex-direction: column;
        justify-content: space-around;
    }
}