.content {
    justify-content: space-around;
    box-sizing: border-box;
    display: grid;
    height: 85%;
    grid-template-columns: 1fr;
    grid-template-rows: 
      1fr;
    grid-template-areas: 
      "countryDropdown"
      "cardContainer"
      "datepickers"
}

.cardContainer {
  height: 70%;
  width: 100%;
  grid-area: cardContainer;
}

.countryDropdown {
    height: 10%;
    width: 100%;
    grid-area: countryDropdown;
    display: flex;
    align-items: center;
    justify-content: center;
}

.datepickers {

    grid-area: datepickers;
    margin: 20px;
    padding: 0px 10px 10px 10px;
    display: flex; 
    align-items: center;
    justify-content: center;
    background-color: #fff;
}


@media(max-width: 974px) {
    .app {
      grid-template-rows: 
        var(--header-height)
        1fr
        var(--footer-height);
        grid-template-columns: 1fr;
        grid-template-areas: 
        "header"
        "countryDropdown"
        "footer";
    }
  }
  
