.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown {
    width: 300px;
    background-color: #fff;
    display: flex;
    justify-content: center;
}

@media(max-width: 974px) {
    .dropdown {
        margin-bottom: 10px;
        padding-bottom: 10px;
    }
}