.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown {
    width: 70%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    
}

@media(max-width: 974px) {
    .dropdown {
        height: 70%;
    }
}