.header {
    height: 10%;
    display: flex;
    font-size: 1.5em;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #10130a;
}

@media(max-width: 974px) {
    .header {
        margin-bottom: 10px;
    }
}