:root {
  --header-height: 100px;
  --footer-height: 20px;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', 'sans-serif';
}

.header {
  grid-area: header;
}

.content {
  grid-area: content;
}

.footer {
  grid-area: footer;
}

.card{
  grid-area: card;
}

.app {
  margin: 0px;
  display: grid;
  height: 100vh;
  background-color: #fff;
  grid-template-columns: 1fr;
  grid-template-rows: 
    var(--header-height)
    1fr
    var(--footer-height);
  grid-template-areas: 
    "header"
    "content"
    "footer";
  }

@media(max-width: 768px) {
  .app {
    grid-template-rows: 
      var(--header-height)
      1fr
      var(--footer-height);
      grid-template-columns: 1fr;
      grid-template-areas: 
      "header"
      "content"
      "footer";
  }
}

@media (max-width: 576px) {
  .app {
    grid-template-rows:
      var(--logo-height)
      1fr
      var(--footer-height);
    grid-template-columns: 100%;
    grid-template-areas:
    "header"
    "content"
    "footer";
  }
}
