* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', 'sans-serif';
}

.app {
  height: 100%;
  margin: 0px;
  background-color: #2D2F34;
}

@media(max-width: 974px) {
  .app {
    height: auto;
  }
}